@page "/"

<PageTitle>Home</PageTitle>

<h1>Project Title</h1>

<p>
    Welcome to your new Blazor 8 app.
</p>
<p>
    <a href="https://www.youtube.com/watch?v=tNzSuwV62Lw&t=2023s&ab_channel=PatrickGod">
        YouTube Video: Blazor .NET 8 Authentication and Authorisation
    </a>
</p>
